@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

.wrapper {
  @apply px-4 md:px-0 md:w-[1200px] mx-auto;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  color: #000000;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}